@using AccOperatorManager.Core.Models
@model AccOperator

<div class="tab-pane">
    <div class="modal-header">
        <h3>@Model.Operatorid</h3>
    </div>
    <div class="card-body">
        <span> OP: @Model.Op</span>
    </div>
</div>