@page
@model AccOperatorManager.Pages.Operators.AddingResultModel
@{
}

@foreach (var result in Model.ResultsOfAddingOperator)
{
    if (result.StartsWith("Operator"))
    {
        <hr />
        <label class="alert-success">@result</label>
    }
    else if (result.Contains("zmienono hasło"))
    {
        <hr />
        <label class="alert-warning">@result</label>
    }
    else
    {
        <hr />
        <label class="alert-danger">@result</label>
    }
}

<hr />
<form method="post">
    <input type="submit" class="btn btn-primary" value="Wyszukiwanie operatorów" />
</form>
