@page
@model AccOperatorManager.Pages.Operators.ReworkOperatorsModel
@{
    ViewData["Title"] = "Rework Operators";
}



@*<h2>@Model.MaxOp</h2>*@

@*
    @foreach (var group in Model.OperatorGroups)
    {
        <label>@group</label>
    }*@

<br />

<form method="post">
    <select asp-for="SelectedLineName" asp-items="@Model.LinesToSelect"></select>
    <input type="text" asp-for="SearchedOperator" />
    <button class="btn btn-info" type="submit">Wyszukaj</button>
    <a asp-page="./AddNewOperator" class="btn btn-primary" style="float:right">Dodaj nowego operatora</a>
</form>

<br />
<br />

@foreach (var accOperator in Model.Operators)
{
    <partial name="_Summary" model="accOperator" />
}
